<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/semantic.css' />
    <link rel='stylesheet' href='/stylesheets/semantic.min.css' />
  </head>
  <div class="ui inverted pointing menu" >
    <a class="active item" href="/">
      Tour Guide
    </a>
    <a class="item" href="/places">
      Tourist Places
    </a>
    <div class="right menu">
      <a class="item" href="/register">
        Register
      </a>
      <a class="item" href="/login">
        Login
      </a>
    </div>
  </div>
  <div class="ui segment">
    <p></p>
  </div>
  <body>