<% include partials/header %>
  <img src="/images/travel.jpg" class="ui fluid image">
  <h1 style="text-align: center">
    <%= title %>
  </h1>
  <blockquote style="text-align: center">
    Explore the Places You want to visit!!!<br />
    Ready to prepare Travel Guide to Explore the World<br />
    Maintain the Record of your Visiting places
  </blockquote>
  <h3>Purpose of the Site</h3>
  <ul>
    <li>Keep Track of the list of tourist places for visiting.</li>
    <li>Data is recorded on mLab database allowing to 
      <ul>
        <li>add any new place to visit in future</li>
        <li>delete the one already visited.</li>
        <li>Update features of a visiting place if any change is occcured or a new invention is added.</li>
      </ul>
    <li>Authorization prevent any stranger to play with this travel guide.</li>
  </ul>
<% include partials/footer %>
