<% include partials/header %>
    <h1 style="text-align: center">
        <%= title %>
    </h1>
    <table class="ui table">
        <thead>
            <tr>
                <th>Place Name</th>
                <th>City</th>
                <th>Attractions</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < places.length; i++) { %>
            <tr>
                <td class="collapsing"><%= places[i].place %></td>
                <td><%= places[i].city %></td>
                <td><%= places[i].attractions %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    
<% include partials/footer %>