<% include partials/header %>
    <h1>
        <%= title %>
    </h1>
    <% for (let i = 0; i < places.length; i++) { %>
            <li><%= places[i].place %></li>
            <li><%= places[i].city %></li>
            <li><%= places[i].attractions %></li>
            --------------------------------------------------------
    <% } %>

<% include partials/footer %>