<% include partials/header %>
    <h1>
        <%= title %>
    </h1>
    <ol>
    <% for (let i = 0; i < places.length; i++) { %>
        <ul>
            <li>places[i].place</li>
            <li>places[i].city</li>
            <li>places[i].attractions</li>
        </ul>
    <% } %>
    </ol>
<% include partials/footer %>